openapi: 3.2.0
info:
  title: PortalApi Files API
  version: '1.0'
servers:
- url: https://portal-api.prod.metabolon.com
tags:
- name: Files
paths:
  /api/v1/files/project/{projectId}:
    get:
      tags:
      - Files
      summary: Retrieves all of the files for a specific project
      operationId: Files_GetFilesByProjectId
      parameters:
      - name: projectId
        in: path
        required: true
        description: The projectId to search on
        schema:
          type: string
          format: guid
        x-position: 1
      responses:
        '200':
          description: A [possibly empty] enumeration of File items was returned
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProjectFile'
  /api/v1/files/project/{projectId}/search/{searchText}:
    get:
      tags:
      - Files
      summary: Retrieves all of the files for a specific project when using text to search on
      operationId: Files_SearchFilesByProjectId
      parameters:
      - name: projectId
        in: path
        required: true
        description: The projectId to search on
        schema:
          type: string
          format: guid
        x-position: 1
      - name: searchText
        in: path
        required: true
        description: The text to search on
        schema:
          type: string
        x-position: 2
      responses:
        '200':
          description: A [possibly empty] enumeration of File items was returned
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProjectFile'
  /api/v1/files/download/{projectId}/{fileId}:
    get:
      tags:
      - Files
      summary: Retrieves the file with this project id and file id
      operationId: Files_DownloadFile
      parameters:
      - name: projectId
        in: path
        required: true
        description: The projectId to search on
        schema:
          type: string
          format: guid
        x-position: 1
      - name: fileId
        in: path
        required: true
        description: The fileId to search on
        schema:
          type: string
          format: guid
        x-position: 2
      responses:
        '200':
          description: Success
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
  /api/v1/files/download/{projectId}/fileIds:
    post:
      tags:
      - Files
      summary: Retrieves a zip file containing the files with this project id and file ids
      operationId: Files_DownloadFileBundle
      parameters:
      - name: projectId
        in: path
        required: true
        description: The projectId to search on
        schema:
          type: string
          format: guid
        x-position: 1
      responses:
        '200':
          description: A zip file containing all the files
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
  /api/v1/files/download/{projectId}:
    post:
      tags:
      - Files
      summary: Retrieves a zip file containing all the files with this project id
      operationId: Files_DownloadProjectFileBundlePOST
      parameters:
      - name: projectId
        in: path
        required: true
        description: The projectId to search on
        schema:
          type: string
          format: guid
        x-position: 1
      responses:
        '200':
          description: A zip file containing all the files
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
    get:
      tags:
      - Files
      summary: Retrieves a zip file containing all the files with this project id
      operationId: Files_DownloadProjectFileBundleGET
      parameters:
      - name: projectId
        in: path
        required: true
        description: The projectId to search on
        schema:
          type: string
          format: guid
        x-position: 1
      responses:
        '200':
          description: A zip file containing all the files
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
  /api/v2/files/project/{projectId}:
    get:
      tags:
      - Files
      summary: Retrieves all of the files for a specific project
      operationId: Files_GetFilesByProjectId2
      parameters:
      - name: projectId
        in: path
        required: true
        description: The projectId to search on
        schema:
          type: string
          format: guid
        x-position: 1
      responses:
        '200':
          description: A [possibly empty] enumeration of File items was returned
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProjectFile'
  /api/v2/files/project/{projectId}/search/{searchText}:
    get:
      tags:
      - Files
      summary: Retrieves all of the files for a specific project when using text to search on
      operationId: Files_SearchFilesByProjectId2
      parameters:
      - name: projectId
        in: path
        required: true
        description: The projectId to search on
        schema:
          type: string
          format: guid
        x-position: 1
      - name: searchText
        in: path
        required: true
        description: The text to search on
        schema:
          type: string
        x-position: 2
      responses:
        '200':
          description: A [possibly empty] enumeration of File items was returned
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProjectFile'
  /api/v2/files/download/{projectId}/{fileId}:
    get:
      tags:
      - Files
      summary: Retrieves the file with this project id and file id
      operationId: Files_DownloadFile2
      parameters:
      - name: projectId
        in: path
        required: true
        description: The projectId to search on
        schema:
          type: string
          format: guid
        x-position: 1
      - name: fileId
        in: path
        required: true
        description: The fileId to search on
        schema:
          type: string
          format: guid
        x-position: 2
      responses:
        '200':
          description: Success
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
  /api/v2/files/download/{projectId}/fileIds:
    post:
      tags:
      - Files
      summary: Retrieves a zip file containing the files with this project id and file ids
      operationId: Files_DownloadFileBundle2
      parameters:
      - name: projectId
        in: path
        required: true
        description: The projectId to search on
        schema:
          type: string
          format: guid
        x-position: 1
      responses:
        '200':
          description: A zip file containing all the files
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
  /api/v2/files/download/{projectId}:
    post:
      tags:
      - Files
      summary: Retrieves a zip file containing all the files with this project id
      operationId: Files_DownloadProjectFileBundlePOST2
      parameters:
      - name: projectId
        in: path
        required: true
        description: The projectId to search on
        schema:
          type: string
          format: guid
        x-position: 1
      responses:
        '200':
          description: A zip file containing all the files
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
    get:
      tags:
      - Files
      summary: Retrieves a zip file containing all the files with this project id
      operationId: Files_DownloadProjectFileBundleGET2
      parameters:
      - name: projectId
        in: path
        required: true
        description: The projectId to search on
        schema:
          type: string
          format: guid
        x-position: 1
      responses:
        '200':
          description: A zip file containing all the files
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
  /api/v1/admin/files/{projectId}/{fileId}:
    get:
      tags:
      - Files
      summary: Retrieves the file from the project with projectId and fileId
      operationId: Files_GetLatestFile
      parameters:
      - name: projectId
        in: path
        required: true
        description: The projectId to search on
        schema:
          type: string
          format: guid
        x-position: 1
      - name: fileId
        in: path
        required: true
        description: The fileId to search on
        schema:
          type: string
          format: guid
        x-position: 2
      responses:
        '200':
          description: Successfully returned the sampleset
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectFileRecord'
  /api/v1/admin/files/project/{projectId}:
    get:
      tags:
      - Files
      summary: Retrieves all of the files for a specific project
      operationId: Files_GetLatestProjectFiles
      parameters:
      - name: projectId
        in: path
        required: true
        description: The projectId to search on
        schema:
          type: string
          format: guid
        x-position: 1
      responses:
        '200':
          description: Successfully returned the project's files
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProjectFileRecord'
  /api/v1/admin/files/publish/project:
    put:
      tags:
      - Files
      summary: Publish all the files in a project that have been saved previously
      operationId: Files_PublishProjectFiles
      requestBody:
        x-name: publishParameters
        description: The parameters containing the project id to publish
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublishParametersGuid'
        required: true
        x-position: 1
      responses:
        '200':
          description: Successfully published the file
  /api/v1/admin/files/publish/single:
    put:
      tags:
      - Files
      summary: Publish a single file
      operationId: Files_PublishFile
      requestBody:
        x-name: publishParameters
        description: The parameters containing the file to publish
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublishParametersProjectFile'
        required: true
        x-position: 1
      responses:
        '200':
          description: Successfully published the file
  /api/v1/admin/files/publish/collection:
    put:
      tags:
      - Files
      summary: Publish an enumeration of files
      operationId: Files_PublishFiles
      requestBody:
        x-name: publishParameters
        description: The parameters containing the file to publish
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublishParametersProjectFiles'
        required: true
        x-position: 1
      responses:
        '200':
          description: Successfully published the file
  /api/v1/admin/files/upload/single/{projectId}:
    post:
      tags:
      - Files
      summary: Uploads a single file to a project
      operationId: Files_UploadFile
      parameters:
      - name: projectId
        in: path
        required: true
        description: The parameters containing the project id to publish
        schema:
          type: string
          format: guid
        x-position: 1
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                Instance:
                  type:
                  - string
                  - 'null'
                  format: binary
                Comment:
                  type:
                  - string
                  - 'null'
      responses:
        '200':
          description: Successfully published the file
  /api/v1/admin/files/download/{projectId}/{fileId}:
    get:
      tags:
      - Files
      summary: Retrieves the file with this project id and file id
      operationId: Files_DownloadFile22
      parameters:
      - name: projectId
        in: path
        required: true
        description: The projectId to search on
        schema:
          type: string
          format: guid
        x-position: 1
      - name: fileId
        in: path
        required: true
        description: The fileId to search on
        schema:
          type: string
          format: guid
        x-position: 2
      responses:
        '200':
          description: Success
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
  /api/v1/admin/files/update/single:
    put:
      tags:
      - Files
      summary: Update file properties
      operationId: Files_UpdateSingleFile
      requestBody:
        x-name: publishParameters
        description: The parameters containing the file with updated properties
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublishParametersProjectFile'
        required: true
        x-position: 1
      responses:
        '200':
          description: Successfully updated the file
  /api/v1/admin/files/remove/single:
    put:
      tags:
      - Files
      summary: Remove a file
      operationId: Files_RemoveFile
      requestBody:
        x-name: publishParameters
        description: The parameters containing the file to remove
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublishParametersProjectFile'
        required: true
        x-position: 1
      responses:
        '200':
          description: Successfully removed the file
  /api/v1/admin/files/project/{projectId}/search/{searchText}:
    get:
      tags:
      - Files
      summary: Retrieves all of the files for a specific project when using text to search on
      operationId: Files_SearchFilesByProjectId22
      parameters:
      - name: projectId
        in: path
        required: true
        description: The projectId to search on
        schema:
          type: string
          format: guid
        x-position: 1
      - name: searchText
        in: path
        required: true
        description: The text to search on
        schema:
          type: string
        x-position: 2
      responses:
        '200':
          description: A [possibly empty] enumeration of File items was returned
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProjectFile'
  /api/v1/admin/files/download/{projectId}/fileIds:
    post:
      tags:
      - Files
      summary: Retrieves a zip file containing the files with this project id and file ids
      operationId: Files_DownloadFileBundle22
      parameters:
      - name: projectId
        in: path
        required: true
        description: The projectId to search on
        schema:
          type: string
          format: guid
        x-position: 1
      responses:
        '200':
          description: A zip file containing all the files
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
  /api/v1/admin/files/download/{projectId}:
    post:
      tags:
      - Files
      summary: Retrieves a zip file containing all the files with this project id
      operationId: Files_DownloadProjectFileBundle2POST
      parameters:
      - name: projectId
        in: path
        required: true
        description: The projectId to search on
        schema:
          type: string
          format: guid
        x-position: 1
      responses:
        '200':
          description: A zip file containing all the files
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
    get:
      tags:
      - Files
      summary: Retrieves a zip file containing all the files with this project id
      operationId: Files_DownloadProjectFileBundle2GET
      parameters:
      - name: projectId
        in: path
        required: true
        description: The projectId to search on
        schema:
          type: string
          format: guid
        x-position: 1
      responses:
        '200':
          description: A zip file containing all the files
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
  /api/v2/admin/files/{projectId}/{fileId}:
    get:
      tags:
      - Files
      summary: Retrieves the file from the project with projectId and fileId
      operationId: Files_GetLatestFile2
      parameters:
      - name: projectId
        in: path
        required: true
        description: The projectId to search on
        schema:
          type: string
          format: guid
        x-position: 1
      - name: fileId
        in: path
        required: true
        description: The fileId to search on
        schema:
          type: string
          format: guid
        x-position: 2
      responses:
        '200':
          description: Successfully returned the sampleset
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectFileRecord'
  /api/v2/admin/files/project/{projectId}:
    get:
      tags:
      - Files
      summary: Retrieves all of the files for a specific project
      operationId: Files_GetLatestProjectFiles2
      parameters:
      - name: projectId
        in: path
        required: true
        description: The projectId to search on
        schema:
          type: string
          format: guid
        x-position: 1
      responses:
        '200':
          description: Successfully returned the project's files
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProjectFileRecord'
  /api/v2/admin/files/publish/project:
    put:
      tags:
      - Files
      summary: Publish all the files in a project that have been saved previously
      operationId: Files_PublishProjectFiles2
      requestBody:
        x-name: publishParameters
        description: The parameters containing the project id to publish
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublishParametersGuid'
        required: true
        x-position: 1
      responses:
        '200':
          description: Successfully published the file
  /api/v2/admin/files/publish/single:
    put:
      tags:
      - Files
      summary: Publish a single file
      operationId: Files_PublishFile2
      requestBody:
        x-name: publishParameters
        description: The parameters containing the file to publish
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublishParametersProjectFile'
        required: true
        x-position: 1
      responses:
        '200':
          description: Successfully published the file
  /api/v2/admin/files/publish/collection:
    put:
      tags:
      - Files
      summary: Publish an enumeration of files
      operationId: Files_PublishFiles2
      requestBody:
        x-name: publishParameters
        description: The parameters containing the file to publish
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublishParametersProjectFiles'
        required: true
        x-position: 1
      responses:
        '200':
          description: Successfully published the file
  /api/v2/admin/files/upload/single/{projectId}:
    post:
      tags:
      - Files
      summary: Uploads a single file to a project
      operationId: Files_UploadFile2
      parameters:
      - name: projectId
        in: path
        required: true
        description: The parameters containing the project id to publish
        schema:
          type: string
          format: guid
        x-position: 1
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                Instance:
                  type:
                  - string
                  - 'null'
                  format: binary
                Comment:
                  type:
                  - string
                  - 'null'
      responses:
        '200':
          description: Successfully published the file
  /api/v2/admin/files/download/{projectId}/{fileId}:
    get:
      tags:
      - Files
      summary: Retrieves the file with this project id and file id
      operationId: Files_DownloadFile23
      parameters:
      - name: projectId
        in: path
        required: true
        description: The projectId to search on
        schema:
          type: string
          format: guid
        x-position: 1
      - name: fileId
        in: path
        required: true
        description: The fileId to search on
        schema:
          type: string
          format: guid
        x-position: 2
      responses:
        '200':
          description: Success
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
  /api/v2/admin/files/update/single:
    put:
      tags:
      - Files
      summary: Update file properties
      operationId: Files_UpdateSingleFile2
      requestBody:
        x-name: publishParameters
        description: The parameters containing the file with updated properties
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublishParametersProjectFile'
        required: true
        x-position: 1
      responses:
        '200':
          description: Successfully updated the file
  /api/v2/admin/files/remove/single:
    put:
      tags:
      - Files
      summary: Remove a file
      operationId: Files_RemoveFile2
      requestBody:
        x-name: publishParameters
        description: The parameters containing the file to remove
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublishParametersProjectFile'
        required: true
        x-position: 1
      responses:
        '200':
          description: Successfully removed the file
  /api/v2/admin/files/project/{projectId}/search/{searchText}:
    get:
      tags:
      - Files
      summary: Retrieves all of the files for a specific project when using text to search on
      operationId: Files_SearchFilesByProjectId23
      parameters:
      - name: projectId
        in: path
        required: true
        description: The projectId to search on
        schema:
          type: string
          format: guid
        x-position: 1
      - name: searchText
        in: path
        required: true
        description: The text to search on
        schema:
          type: string
        x-position: 2
      responses:
        '200':
          description: A [possibly empty] enumeration of File items was returned
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProjectFile'
  /api/v2/admin/files/download/{projectId}/fileIds:
    post:
      tags:
      - Files
      summary: Retrieves a zip file containing the files with this project id and file ids
      operationId: Files_DownloadFileBundle23
      parameters:
      - name: projectId
        in: path
        required: true
        description: The projectId to search on
        schema:
          type: string
          format: guid
        x-position: 1
      responses:
        '200':
          description: A zip file containing all the files
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
  /api/v2/admin/files/download/{projectId}:
    post:
      tags:
      - Files
      summary: Retrieves a zip file containing all the files with this project id
      operationId: Files_DownloadProjectFileBundle2POST2
      parameters:
      - name: projectId
        in: path
        required: true
        description: The projectId to search on
        schema:
          type: string
          format: guid
        x-position: 1
      responses:
        '200':
          description: A zip file containing all the files
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
    get:
      tags:
      - Files
      summary: Retrieves a zip file containing all the files with this project id
      operationId: Files_DownloadProjectFileBundle2GET2
      parameters:
      - name: projectId
        in: path
        required: true
        description: The projectId to search on
        schema:
          type: string
          format: guid
        x-position: 1
      responses:
        '200':
          description: A zip file containing all the files
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
components:
  schemas:
    PublishParametersProjectFile:
      allOf:
      - $ref: '#/components/schemas/PublishParametersOfProjectFile'
      - type: object
        additionalProperties: false
    ProjectFileRecord:
      allOf:
      - $ref: '#/components/schemas/FileRecord'
      - type: object
        additionalProperties: false
        properties:
          fileId:
            type: string
            format: guid
          projectId:
            type: string
            format: guid
          staged:
            type: boolean
          name:
            type:
            - string
            - 'null'
          description:
            type:
            - string
            - 'null'
          createdBy:
            type:
            - string
            - 'null'
          managed:
            type: boolean
          customerVisible:
            type: boolean
          customerDate:
            type:
            - string
            - 'null'
            format: date-time
    FileRecord:
      allOf:
      - $ref: '#/components/schemas/Record'
      - type: object
        additionalProperties: false
        properties:
          size:
            type: integer
            format: int64
          mimeType:
            type:
            - string
            - 'null'
    PublishParametersGuid:
      allOf:
      - $ref: '#/components/schemas/PublishParametersOfGuid'
      - type: object
        additionalProperties: false
    PublishParametersOfIEnumerableOfProjectFile:
      type: object
      additionalProperties: false
      properties:
        instance:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ProjectFile'
        comment:
          type:
          - string
          - 'null'
    PublishParametersOfGuid:
      type: object
      additionalProperties: false
      properties:
        instance:
          type: string
          format: guid
        comment:
          type:
          - string
          - 'null'
    PublishParametersOfProjectFile:
      type: object
      additionalProperties: false
      properties:
        instance:
          oneOf:
          - $ref: '#/components/schemas/ProjectFile'
        comment:
          type:
          - string
          - 'null'
    Record:
      type: object
      x-abstract: true
      additionalProperties: false
      properties:
        createdDate:
          type:
          - string
          - 'null'
          format: date-time
        modifiedDate:
          type:
          - string
          - 'null'
          format: date-time
    PublishParametersProjectFiles:
      allOf:
      - $ref: '#/components/schemas/PublishParametersOfIEnumerableOfProjectFile'
      - type: object
        additionalProperties: false
    ProjectFile:
      type: object
      additionalProperties: false
      properties:
        fileId:
          type: string
          format: guid
        projectId:
          type: string
          format: guid
        staged:
          type: boolean
        name:
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
        createdBy:
          type:
          - string
          - 'null'
        managed:
          type: boolean
        uploadedFromLabVantage:
          type: boolean
        customerVisible:
          type: boolean
        size:
          type: integer
          format: int64
        mimeType:
          type:
          - string
          - 'null'
        createdDate:
          type:
          - string
          - 'null'
          format: date-time
        modifiedDate:
          type:
          - string
          - 'null'
          format: date-time
        customerDate:
          type:
          - string
          - 'null'
          format: date-time
x-generator: NSwag v14.6.2.0 (NJsonSchema v11.5.2.0 (Newtonsoft.Json v13.0.0.0))
