x-generator: NSwag v14.6.2.0 (NJsonSchema v11.5.2.0 (Newtonsoft.Json v13.0.0.0))
openapi: 3.0.0
info:
  title: PortalApi
  version: '1.0'
servers:
- url: https://portal-api.prod.metabolon.com
paths:
  /api/v1/users/current:
    get:
      tags:
      - Users
      summary: Retrieves the current user
      operationId: Users_GetCurrentUser
      responses:
        '200':
          description: A use item was returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
  /api/v1/users/current/learning-center-links:
    get:
      tags:
      - Users
      summary: Returns Learning Center launch links authorized for the current user from Portal DB permissions and backend branch config.
      operationId: Users_GetCurrentUserLearningCenterLinks
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LearningCenterLinksResponse'
  /api/v1/users/current/eula-acceptance:
    post:
      tags:
      - Users
      summary: Accepts the End User License Agreement for the current user
      operationId: Users_AcceptEula
      responses:
        '200':
          description: EULA acceptance was recorded successfully
  /api/v2/users/current:
    get:
      tags:
      - Users
      summary: Retrieves the current user
      operationId: Users_GetCurrentUser2
      responses:
        '200':
          description: A use item was returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
  /api/v2/users/current/learning-center-links:
    get:
      tags:
      - Users
      summary: Returns Learning Center launch links authorized for the current user from Portal DB permissions and backend branch config.
      operationId: Users_GetCurrentUserLearningCenterLinks2
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LearningCenterLinksResponse'
  /api/v2/users/current/eula-acceptance:
    post:
      tags:
      - Users
      summary: Accepts the End User License Agreement for the current user
      operationId: Users_AcceptEula2
      responses:
        '200':
          description: EULA acceptance was recorded successfully
  /api/v1/health:
    get:
      tags:
      - Health
      summary: Retrieves what is expected for the aws health check
      operationId: Health_HealthCheck
      responses:
        '200':
          description: A string response
          content:
            application/json:
              schema:
                type: string
  /api/v1/health/ping:
    get:
      tags:
      - Health
      summary: Retrieves the ping
      operationId: Health_ShallowPing
      responses:
        '200':
          description: A ping response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShallowPingResponse'
        '500':
          description: The request generated an error on the server
  /api/v1/health/deepping:
    get:
      tags:
      - Health
      summary: Retrieves the deep ping
      operationId: Health_DeepPing
      parameters:
      - name: chainId
        in: query
        schema:
          type: string
          nullable: true
        x-position: 1
      responses:
        '200':
          description: A deep ping response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeepPingResponse'
        '500':
          description: The request generated an error on the server
  /api/v1/health/datadog/httpcheck:
    get:
      tags:
      - Health
      summary: 'Datadog http health check, probes statuses of all services which this service depends from

        Return 200 HTTP status code for Ok, 424 for Warnings, and 500 for Errors.

        See https://docs.datadoghq.com/integrations/http_check/'
      operationId: Health_DatadogHttpCheck
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: string
        '500':
          description: ''
  /api/v1/health/datadog/servicecheck:
    get:
      tags:
      - Health
      summary: 'Datadog service check, probes statuses of all services which this service depends from

        See https://docs.datadoghq.com/developers/service_checks/agent_service_checks_submission/'
      operationId: Health_DatadogServiceCheck
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatadogResponse'
        '500':
          description: ''
  /api/v2/health:
    get:
      tags:
      - Health
      summary: Retrieves what is expected for the aws health check
      operationId: Health_HealthCheck2
      responses:
        '200':
          description: A string response
          content:
            application/json:
              schema:
                type: string
  /api/v2/health/ping:
    get:
      tags:
      - Health
      summary: Retrieves the ping
      operationId: Health_ShallowPing2
      responses:
        '200':
          description: A ping response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShallowPingResponse'
        '500':
          description: The request generated an error on the server
  /api/v2/health/deepping:
    get:
      tags:
      - Health
      summary: Retrieves the deep ping
      operationId: Health_DeepPing2
      parameters:
      - name: chainId
        in: query
        schema:
          type: string
          nullable: true
        x-position: 1
      responses:
        '200':
          description: A deep ping response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeepPingResponse'
        '500':
          description: The request generated an error on the server
  /api/v2/health/datadog/httpcheck:
    get:
      tags:
      - Health
      summary: 'Datadog http health check, probes statuses of all services which this service depends from

        Return 200 HTTP status code for Ok, 424 for Warnings, and 500 for Errors.

        See https://docs.datadoghq.com/integrations/http_check/'
      operationId: Health_DatadogHttpCheck2
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: string
        '500':
          description: ''
  /api/v2/health/datadog/servicecheck:
    get:
      tags:
      - Health
      summary: 'Datadog service check, probes statuses of all services which this service depends from

        See https://docs.datadoghq.com/developers/service_checks/agent_service_checks_submission/'
      operationId: Health_DatadogServiceCheck2
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatadogResponse'
        '500':
          description: ''
  /api/v1/assistant/token/{tenant}:
    post:
      tags:
      - Assistant
      summary: Returns the minted token for the agent widget to pass into the agent api
      operationId: Assistant_GetToken
      parameters:
      - name: tenant
        in: path
        required: true
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssistantTokenResponse'
  /api/v2/assistant/token/{tenant}:
    post:
      tags:
      - Assistant
      summary: Returns the minted token for the agent widget to pass into the agent api
      operationId: Assistant_GetToken2
      parameters:
      - name: tenant
        in: path
        required: true
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssistantTokenResponse'
  /api/v1/auth0/verify-salesforce:
    get:
      tags:
      - Auth
      summary: Verifies that PortalApi can create a Salesforce client and run a trivial query.
      operationId: Auth_VerifySalesforceConnection
      responses:
        '200':
          description: ''
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
  /api/v1/auth0/pre-user-registration:
    post:
      tags:
      - Auth
      summary: Ensures a Salesforce Lead or Contact exists before Auth0 creates the user.
      operationId: Auth_OnPreUserRegistration
      requestBody:
        x-name: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Auth0PreRegistrationRequest'
        required: true
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
  /api/v1/auth0/post-login:
    post:
      tags:
      - Auth
      summary: Portal login gate for non-SAML Auth0 connections. Returns allow/deny for the Post Login Action.
      operationId: Auth_OnPostLogin
      requestBody:
        x-name: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Auth0PostLoginRequest'
        required: true
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
  /api/v1/auth0/learning-center/authorize:
    post:
      tags:
      - Auth
      summary: TalentLMS SAML login gate. Requires approval, Portal user, branch access, and successful TalentLMS reconcile.
      operationId: Auth_AuthorizeLearningCenterAccess
      requestBody:
        x-name: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Auth0PostLoginRequest'
        required: true
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
  /api/v2/auth0/verify-salesforce:
    get:
      tags:
      - Auth
      summary: Verifies that PortalApi can create a Salesforce client and run a trivial query.
      operationId: Auth_VerifySalesforceConnection2
      responses:
        '200':
          description: ''
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
  /api/v2/auth0/pre-user-registration:
    post:
      tags:
      - Auth
      summary: Ensures a Salesforce Lead or Contact exists before Auth0 creates the user.
      operationId: Auth_OnPreUserRegistration2
      requestBody:
        x-name: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Auth0PreRegistrationRequest'
        required: true
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
  /api/v2/auth0/post-login:
    post:
      tags:
      - Auth
      summary: Portal login gate for non-SAML Auth0 connections. Returns allow/deny for the Post Login Action.
      operationId: Auth_OnPostLogin2
      requestBody:
        x-name: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Auth0PostLoginRequest'
        required: true
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
  /api/v2/auth0/learning-center/authorize:
    post:
      tags:
      - Auth
      summary: TalentLMS SAML login gate. Requires approval, Portal user, branch access, and successful TalentLMS reconcile.
      operationId: Auth_AuthorizeLearningCenterAccess2
      requestBody:
        x-name: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Auth0PostLoginRequest'
        required: true
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
  /api/v1/auth/context:
    get:
      tags:
      - Auth
      operationId: Auth_GetAuthorizedContext
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IAuthorizedContext'
  /api/v2/auth/context:
    get:
      tags:
      - Auth
      operationId: Auth_GetAuthorizedContext2
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IAuthorizedContext'
  /api/v1/decentralization/injection/{filePath}:
    get:
      tags:
      - Decentralization
      summary: Get injection metadata for this file
      operationId: Decentralization_GetInjectionMetadata
      parameters:
      - name: filePath
        in: path
        required: true
        description: S3 path to the uploaded RAW file
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: Successfully returned state
          content:
            application/json:
              schema:
                type: string
      deprecated: true
  /api/v1/decentralization/injection/{projectId}/{filePath}:
    get:
      tags:
      - Decentralization
      summary: Get injection metadata for this file
      operationId: Decentralization_GetInjectionMetadata2
      parameters:
      - name: projectId
        in: path
        required: true
        description: Decentralization UI project id
        schema:
          type: integer
          format: int32
        x-position: 1
      - name: filePath
        in: path
        required: true
        description: S3 path to the uploaded RAW file
        schema:
          type: string
        x-position: 2
      responses:
        '200':
          description: Successfully returned state
          content:
            application/json:
              schema:
                type: string
  /api/v2/decentralization/injection/{filePath}:
    get:
      tags:
      - Decentralization
      summary: Get injection metadata for this file
      operationId: Decentralization_GetInjectionMetadata3
      parameters:
      - name: filePath
        in: path
        required: true
        description: S3 path to the uploaded RAW file
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: Successfully returned state
          content:
            application/json:
              schema:
                type: string
      deprecated: true
  /api/v2/decentralization/injection/{projectId}/{filePath}:
    get:
      tags:
      - Decentralization
      summary: Get injection metadata for this file
      operationId: Decentralization_GetInjectionMetadata4
      parameters:
      - name: projectId
        in: path
        required: true
        description: Decentralization UI project id
        schema:
          type: integer
          format: int32
        x-position: 1
      - name: filePath
        in: path
        required: true
        description: S3 path to the uploaded RAW file
        schema:
          type: string
        x-position: 2
      responses:
        '200':
          description: Successfully returned state
          content:
            application/json:
              schema:
                type: string
  /api/v1/eula/download:
    get:
      tags:
      - Eula
      summary: Downloads the current EULA file with proper mime-type and filename.
      operationId: Eula_DownloadCurrentEula
      responses:
        '200':
          description: Current EULA file downloaded successfully
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
  /api/v2/eula/download:
    get:
      tags:
      - Eula
      summary: Downloads the current EULA file with proper mime-type and filename.
      operationId: Eula_DownloadCurrentEula2
      responses:
        '200':
          description: Current EULA file downloaded successfully
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
  /api/v1/files/project/{projectId}:
    get:
      tags:
      - Files
      summary: Retrieves all of the files for a specific project
      operationId: Files_GetFilesByProjectId
      parameters:
      - name: projectId
        in: path
        required: true
        description: The projectId to search on
        schema:
          type: string
          format: guid
        x-position: 1
      responses:
        '200':
          description: A [possibly empty] enumeration of File items was returned
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProjectFile'
  /api/v1/files/project/{projectId}/search/{searchText}:
    get:
      tags:
      - Files
      summary: Retrieves all of the files for a specific project when using text to search on
      operationId: Files_SearchFilesByProjectId
      parameters:
      - name: projectId
        in: path
        required: true
        description: The projectId to search on
        schema:
          type: string
          format: guid
        x-position: 1
      - name: searchText
        in: path
        required: true
        description: The text to search on
        schema:
          type: string
        x-position: 2
      responses:
        '200':
          description: A [possibly empty] enumeration of File items was returned
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProjectFile'
  /api/v1/files/download/{projectId}/{fileId}:
    get:
      tags:
      - Files
      summary: Retrieves the file with this project id and file id
      operationId: Files_DownloadFile
      parameters:
      - name: projectId
        in: path
        required: true
        description: The projectId to search on
        schema:
          type: string
          format: guid
        x-position: 1
      - name: fileId
        in: path
        required: true
        description: The fileId to search on
        schema:
          type: string
          format: guid
        x-position: 2
      responses:
        '200':
          description: Success
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
  /api/v1/files/download/{projectId}/fileIds:
    post:
      tags:
      - Files
      summary: Retrieves a zip file containing the files with this project id and file ids
      operationId: Files_DownloadFileBundle
      parameters:
      - name: projectId
        in: path
        required: true
        description: The projectId to search on
        schema:
          type: string
          format: guid
        x-position: 1
      responses:
        '200':
          description: A zip file containing all the files
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
  /api/v1/files/download/{projectId}:
    post:
      tags:
      - Files
      summary: Retrieves a zip file containing all the files with this project id
      operationId: Files_DownloadProjectFileBundlePOST
      parameters:
      - name: projectId
        in: path
        required: true
        description: The projectId to search on
        schema:
          type: string
          format: guid
        x-position: 1
      responses:
        '200':
          description: A zip file containing all the files
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
    get:
      tags:
      - Files
      summary: Retrieves a zip file containing all the files with this project id
      operationId: Files_DownloadProjectFileBundleGET
      parameters:
      - name: projectId
        in: path
        required: true
        description: The projectId to search on
        schema:
          type: string
          format: guid
        x-position: 1
      responses:
        '200':
          description: A zip file containing all the files
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
  /api/v2/files/project/{projectId}:
    get:
      tags:
      - Files
      summary: Retrieves all of the files for a specific project
      operationId: Files_GetFilesByProjectId2
      parameters:
      - name: projectId
        in: path
        required: true
        description: The projectId to search on
        schema:
          type: string
          format: guid
        x-position: 1
      responses:
        '200':
          description: A [possibly empty] enumeration of File items was returned
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProjectFile'
  /api/v2/files/project/{projectId}/search/{searchText}:
    get:
      tags:
      - Files
      summary: Retrieves all of the files for a specific project when using text to search on
      operationId: Files_SearchFilesByProjectId2
      parameters:
      - name: projectId
        in: path
        required: true
        description: The projectId to search on
        schema:
          type: string
          format: guid
        x-position: 1
      - name: searchText
        in: path
        required: true
        description: The text to search on
        schema:
          type: string
        x-position: 2
      responses:
        '200':
          description: A [possibly empty] enumeration of File items was returned
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProjectFile'
  /api/v2/files/download/{projectId}/{fileId}:
    get:
      tags:
      - Files
      summary: Retrieves the file with this project id and file id
      operationId: Files_DownloadFile2
      parameters:
      - name: projectId
        in: path
        required: true
        description: The projectId to search on
        schema:
          type: string
          format: guid
        x-position: 1
      - name: fileId
        in: path
        required: true
        description: The fileId to search on
        schema:
          type: string
          format: guid
        x-position: 2
      responses:
        '200':
          description: Success
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
  /api/v2/files/download/{projectId}/fileIds:
    post:
      tags:
      - Files
      summary: Retrieves a zip file containing the files with this project id and file ids
      operationId: Files_DownloadFileBundle2
      parameters:
      - name: projectId
        in: path
        required: true
        description: The projectId to search on
        schema:
          type: string
          format: guid
        x-position: 1
      responses:
        '200':
          description: A zip file containing all the files
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
  /api/v2/files/download/{projectId}:
    post:
      tags:
      - Files
      summary: Retrieves a zip file containing all the files with this project id
      operationId: Files_DownloadProjectFileBundlePOST2
      parameters:
      - name: projectId
        in: path
        required: true
        description: The projectId to search on
        schema:
          type: string
          format: guid
        x-position: 1
      responses:
        '200':
          description: A zip file containing all the files
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
    get:
      tags:
      - Files
      summary: Retrieves a zip file containing all the files with this project id
      operationId: Files_DownloadProjectFileBundleGET2
      parameters:
      - name: projectId
        in: path
        required: true
        description: The projectId to search on
        schema:
          type: string
          format: guid
        x-position: 1
      responses:
        '200':
          description: A zip file containing all the files
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
  /api/v1/projects:
    get:
      tags:
      - Projects
      summary: Retrieves all of the projects for the active user
      operationId: Projects_Retrieve_AllDetails
      responses:
        '200':
          description: A [possibly empty] enumeration of projects was returned
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProjectDescription'
  /api/v1/projects/{projectId}:
    get:
      tags:
      - Projects
      summary: Retrieves the project for a specified project assuing the active user has this project
      operationId: Projects_Retrieve_DetailsById
      parameters:
      - name: projectId
        in: path
        required: true
        description: The identifier (GUID) for the project
        schema:
          type: string
          format: guid
        x-position: 1
      responses:
        '200':
          description: A matching project was found and returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectDescription'
  /api/v1/projects/projectCode/{projectCode}:
    get:
      tags:
      - Projects
      summary: Retrieves the project with a specified project code assuing the active user has this project
      operationId: Projects_Retrieve_DetailsByCode
      parameters:
      - name: projectCode
        in: path
        required: true
        description: The project code for the project to search on
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: A matching project was found and returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectDescription'
  /api/v1/projects/empty/{projectId}:
    get:
      tags:
      - Projects
      summary: Retrieves whether the project with a specified project id is empty
      operationId: Projects_Retrieve_IsEmpty
      parameters:
      - name: projectId
        in: path
        required: true
        description: The identifier (GUID) for the project
        schema:
          type: string
          format: guid
        x-position: 1
      responses:
        '200':
          description: Project state was returned
          content:
            application/json:
              schema:
                type: boolean
  /api/v1/projects/recognize-revenue:
    post:
      tags:
      - Projects
      summary: Recognize revenue for a project.
      operationId: Projects_RecognizeRevenue
      requestBody:
        x-name: recognizeRevenue
        description: The RecognizeRevenue object containing the projectId and other details
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecognizeRevenue'
        required: true
        x-position: 1
      responses:
        '200':
          description: Project was successfully recognized for revenue
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecognizeRevenue'
  /api/v1/projects/recognize-revenue/{projectId}:
    get:
      tags:
      - Projects
      operationId: Projects_Retrieve_LatestRecognizeRevenueByProjectId
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RecognizeRevenue'
  /api/v2/projects:
    get:
      tags:
      - Projects
      summary: Retrieves all of the projects for the active user
      operationId: Projects_Retrieve_AllDetails2
      responses:
        '200':
          description: A [possibly empty] enumeration of projects was returned
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProjectDescription'
  /api/v2/projects/{projectId}:
    get:
      tags:
      - Projects
      summary: Retrieves the project for a specified project assuing the active user has this project
      operationId: Projects_Retrieve_DetailsById2
      parameters:
      - name: projectId
        in: path
        required: true
        description: The identifier (GUID) for the project
        schema:
          type: string
          format: guid
        x-position: 1
      responses:
        '200':
          description: A matching project was found and returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectDescription'
  /api/v2/projects/projectCode/{projectCode}:
    get:
      tags:
      - Projects
      summary: Retrieves the project with a specified project code assuing the active user has this project
      operationId: Projects_Retrieve_DetailsByCode2
      parameters:
      - name: projectCode
        in: path
        required: true
        description: The project code for the project to search on
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: A matching project was found and returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectDescription'
  /api/v2/projects/empty/{projectId}:
    get:
      tags:
      - Projects
      summary: Retrieves whether the project with a specified project id is empty
      operationId: Projects_Retrieve_IsEmpty2
      parameters:
      - name: projectId
        in: path
        required: true
        description: The identifier (GUID) for the project
        schema:
          type: string
          format: guid
        x-position: 1
      responses:
        '200':
          description: Project state was returned
          content:
            application/json:
              schema:
                type: boolean
  /api/v2/projects/recognize-revenue:
    post:
      tags:
      - Projects
      summary: Recognize revenue for a project.
      operationId: Projects_RecognizeRevenue2
      requestBody:
        x-name: recognizeRevenue
        description: The RecognizeRevenue object containing the projectId and other details
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecognizeRevenue'
        required: true
        x-position: 1
      responses:
        '200':
          description: Project was successfully recognized for revenue
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecognizeRevenue'
  /api/v2/projects/recognize-revenue/{projectId}:
    get:
      tags:
      - Projects
      operationId: Projects_Retrieve_LatestRecognizeRevenueByProjectId2
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RecognizeRevenue'
  /api/v1/reports/{reportId}/{projectId}:
    get:
      tags:
      - Reports
      operationId: Reports_GetReport
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
        x-position: 1
      - name: reportId
        in: path
        required: true
        schema:
          type: string
        x-position: 2
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlatformQcReport'
        '500':
          description: ''
        '404':
          description: ''
  /api/v1/samplesetsinfo/{projectId}/{sampleSetId}:
    get:
      tags:
      - SampleSetsInfo
      summary: Retrieves a sample sets info
      operationId: SampleSetsInfo_GetSampleSetsInfo
      parameters:
      - name: projectId
        in: path
        required: true
        description: The projectId to search on
        schema:
          type: string
          format: guid
        x-position: 1
      - name: sampleSetId
        in: path
        required: true
        description: The sampleSetId to search on
        schema:
          type: string
          format: guid
        x-position: 2
      responses:
        '200':
          description: A matching sample sets info was found and returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SampleSetInfo'
  /api/v1/samplesetsinfo/project/{projectId}:
    get:
      tags:
      - SampleSetsInfo
      summary: Retrieves all sample sets infos for a specific project
      operationId: SampleSetsInfo_GetSampleSetsInfos
      parameters:
      - name: projectId
        in: path
        required: true
        description: The projectId to search on
        schema:
          type: string
          format: guid
        x-position: 1
      responses:
        '200':
          description: A [possibly empty] enumeration of project sample sets info items was returned
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SampleSetInfo'
  /api/v1/samplesetsinfo/project/{projectId}/count:
    get:
      tags:
      - SampleSetsInfo
      summary: Retrieves the number of sample sets infos for a specific project
      operationId: SampleSetsInfo_GetSampleSetsCount
      parameters:
      - name: projectId
        in: path
        required: true
        description: The projectId to search on
        schema:
          type: string
          format: guid
        x-position: 1
      responses:
        '200':
          description: A quantity of matching sample sets info was found and returned
          content:
            application/json:
              schema:
                type: integer
                format: int32
  /api/v2/samplesetsinfo/{projectId}/{sampleSetId}:
    get:
      tags:
      - SampleSetsInfo
      summary: Retrieves a sample sets info
      operationId: SampleSetsInfo_GetSampleSetsInfo2
      parameters:
      - name: projectId
        in: path
        required: true
        description: The projectId to search on
        schema:
          type: string
          format: guid
        x-position: 1
      - name: sampleSetId
        in: path
        required: true
        description: The sampleSetId to search on
        schema:
          type: string
          format: guid
        x-position: 2
      responses:
        '200':
          description: A matching sample sets info was found and returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SampleSetInfo'
  /api/v2/samplesetsinfo/project/{projectId}:
    get:
      tags:
      - SampleSetsInfo
      summary: Retrieves all sample sets infos for a specific project
      operationId: SampleSetsInfo_GetSampleSetsInfos2
      parameters:
      - name: projectId
        in: path
        required: true
        description: The projectId to search on
        schema:
          type: string
          format: guid
        x-position: 1
      responses:
        '200':
          description: A [possibly empty] enumeration of project sample sets info items was returned
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SampleSetInfo'
  /api/v2/samplesetsinfo/project/{projectId}/count:
    get:
      tags:
      - SampleSetsInfo
      summary: Retrieves the number of sample sets infos for a specific project
      operationId: SampleSetsInfo_GetSampleSetsCount2
      parameters:
      - name: projectId
        in: path
        required: true
        description: The projectId to search on
        schema:
          type: string
          format: guid
        x-position: 1
      responses:
        '200':
          description: A quantity of matching sample sets info was found and returned
          content:
            application/json:
              schema:
                type: integer
                format: int32
  /api/v1/search/simple/{text}:
    get:
      tags:
      - Search
      summary: Performs a simple text search across multiple entity types with optional type filtering
      description: 'This endpoint searches across multiple entity types using registered search processors. Results are automatically filtered based on the user''s permissions:

        Projects require canEditProjects permission

        Files require canViewAperture permission on the parent project

        By default, DTS users see all projects. Set limitToUserProjects to true to restrict results to only the user''s authorized projects.

        Only processors matching the requested types are executed, improving performance when filtering by type.

        Results are deduplicated and limited to the specified limit before being returned.'
      operationId: Search_SearchSimple
      parameters:
      - name: text
        in: path
        required: true
        description: The search text to match against entity names, descriptions, and other searchable fields
        schema:
          type: string
        x-position: 1
      - name: types
        in: query
        description: "Optional comma-separated list of result types to include. Valid values: \"Project\", \"File\". \n            Examples: \"Project\" (projects only), \"File\" (files only), \"Project,File\"\
          \ (both types). \n            If not specified, returns all available types."
        schema:
          type: string
          nullable: true
        x-position: 2
      - name: limitToUserProjects
        in: query
        description: If true, limits results to only the user's authorized projects, even for DTS users. Default is false.
        schema:
          type: boolean
          default: false
        x-position: 3
      - name: includeStagedFiles
        in: query
        description: If true, includes staged objects in search results. If false or not specified, only returns unstaged objects. Default is false.
        schema:
          type: boolean
          default: false
        x-position: 4
      - name: limit
        in: query
        description: The maximum number of search results to return. Default is 10.
        schema:
          type: integer
          format: int32
          default: 10
        x-position: 5
      responses:
        '200':
          description: Successfully returned search results (may be empty if no matches found or user lacks permissions)
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SearchResult'
  /api/v1/shared-files/{type}/download:
    get:
      tags:
      - SharedFile
      summary: Downloads the current shared file for a specific type with proper mime-type and filename from database
      operationId: SharedFile_DownloadCurrentFile
      parameters:
      - name: type
        in: path
        required: true
        description: The file type
        schema:
          $ref: '#/components/schemas/SharedFileType'
        x-position: 1
      responses:
        '200':
          description: File downloaded successfully
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
  /api/v2/shared-files/{type}/download:
    get:
      tags:
      - SharedFile
      summary: Downloads the current shared file for a specific type with proper mime-type and filename from database
      operationId: SharedFile_DownloadCurrentFile2
      parameters:
      - name: type
        in: path
        required: true
        description: The file type
        schema:
          $ref: '#/components/schemas/SharedFileType'
        x-position: 1
      responses:
        '200':
          description: File downloaded successfully
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
  /api/v1/spectraldata/{projectId}:
    get:
      tags:
      - SpectralData
      summary: Retrieves spectral data download metadata for a project
      operationId: SpectralData_Get
      parameters:
      - name: projectId
        in: path
        required: true
        description: Project id
        schema:
          type: string
          format: guid
        x-position: 1
      responses:
        '200':
          description: Successfully returned the spectral data download metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpectralDataDownloadRecord'
  /api/v1/spectraldata/{projectId}/download:
    get:
      tags:
      - SpectralData
      summary: Create S3 presigned download URL for spectral data. Use other route for metadata, including possible decryption key.
      operationId: SpectralData_GetDownloadLink
      parameters:
      - name: projectId
        in: path
        required: true
        description: Project id
        schema:
          type: string
          format: guid
        x-position: 1
      responses:
        '200':
          description: Successfully returned the spectral data download link
          content:
            application/json:
              schema:
                type: string
  /api/v2/spectraldata/{projectId}:
    get:
      tags:
      - SpectralData
      summary: Retrieves spectral data download metadata for a project
      operationId: SpectralData_Get2
      parameters:
      - name: projectId
        in: path
        required: true
        description: Project id
        schema:
          type: string
          format: guid
        x-position: 1
      responses:
        '200':
          description: Successfully returned the spectral data download metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpectralDataDownloadRecord'
  /api/v2/spectraldata/{projectId}/download:
    get:
      tags:
      - SpectralData
      summary: Create S3 presigned download URL for spectral data. Use other route for metadata, including possible decryption key.
      operationId: SpectralData_GetDownloadLink2
      parameters:
      - name: projectId
        in: path
        required: true
        description: Project id
        schema:
          type: string
          format: guid
        x-position: 1
      responses:
        '200':
          description: Successfully returned the spectral data download link
          content:
            application/json:
              schema:
                type: string
  /api/v1/study-builder/estimate:
    post:
      tags:
      - StudyBuilder
      summary: 'Submit a Quote Builder estimate request: calculate a fresh indicative estimate from the pricing matrix,

        persist the wizard inputs and result to StudyBuilderEstimateRequestRecords, then return the estimate.

        Each call creates a new stored request; this route does not load a previously saved estimate.

        On persistence failure the request fails with 500 and no estimate is returned.

        Intended for authenticated Portal users; guests refer to sales unless Business Line is supplied.

        Authenticated users resolve Business Line from Salesforce when omitted.'
      operationId: StudyBuilder_PostEstimate
      requestBody:
        x-name: body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StudyBuilderEstimateRequestDto'
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StudyBuilderEstimateResponseDto'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '429':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '500':
          description: ''
  /api/v1/study-builder/draft:
    post:
      tags:
      - StudyBuilder
      summary: 'Save a pre-registration Quote Builder draft (selections and quote draft only; no pricing).

        Returns an opaque draftToken for Auth0 signup linking.'
      operationId: StudyBuilder_PostDraft
      requestBody:
        x-name: body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StudyBuilderEstimateDraftRequestDto'
        required: true
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StudyBuilderEstimateDraftResponseDto'
        '429':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
    get:
      tags:
      - StudyBuilder
      summary: Returns the authenticated user's unconsumed pre-registration Quote Builder draft, if any.
      operationId: StudyBuilder_GetDraft
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StudyBuilderEstimateDraftGetResponseDto'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '429':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /api/v1/study-builder:
    post:
      tags:
      - StudyBuilder
      summary: 'Submit a study builder quote summary: emails the submitter and Metabolon sales (internal inbox from configuration).'
      operationId: StudyBuilder_PostQuoteSummaryEmail
      requestBody:
        x-name: body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QuoteSummaryEmailRequest'
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuoteSummaryEmailResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '429':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '503':
          description: ''
  /api/v2/study-builder/estimate:
    post:
      tags:
      - StudyBuilder
      summary: 'Submit a Quote Builder estimate request: calculate a fresh indicative estimate from the pricing matrix,

        persist the wizard inputs and result to StudyBuilderEstimateRequestRecords, then return the estimate.

        Each call creates a new stored request; this route does not load a previously saved estimate.

        On persistence failure the request fails with 500 and no estimate is returned.

        Intended for authenticated Portal users; guests refer to sales unless Business Line is supplied.

        Authenticated users resolve Business Line from Salesforce when omitted.'
      operationId: StudyBuilder_PostEstimate2
      requestBody:
        x-name: body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StudyBuilderEstimateRequestDto'
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StudyBuilderEstimateResponseDto'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '429':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '500':
          description: ''
  /api/v2/study-builder/draft:
    post:
      tags:
      - StudyBuilder
      summary: 'Save a pre-registration Quote Builder draft (selections and quote draft only; no pricing).

        Returns an opaque draftToken for Auth0 signup linking.'
      operationId: StudyBuilder_PostDraft2
      requestBody:
        x-name: body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StudyBuilderEstimateDraftRequestDto'
        required: true
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StudyBuilderEstimateDraftResponseDto'
        '429':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
    get:
      tags:
      - StudyBuilder
      summary: Returns the authenticated user's unconsumed pre-registration Quote Builder draft, if any.
      operationId: StudyBuilder_GetDraft2
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StudyBuilderEstimateDraftGetResponseDto'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '429':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /api/v2/study-builder:
    post:
      tags:
      - StudyBuilder
      summary: 'Submit a study builder quote summary: emails the submitter and Metabolon sales (internal inbox from configuration).'
      operationId: StudyBuilder_PostQuoteSummaryEmail2
      requestBody:
        x-name: body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QuoteSummaryEmailRequest'
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuoteSummaryEmailResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '429':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '503':
          description: ''
  /api/v1/admin/users/eula/upload:
    post:
      tags:
      - Eula
      summary: Uploads a new EULA file for a specific version
      operationId: Eula_UploadEula
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                eulaVersion:
                  type: string
                  nullable: true
                ContentType:
                  type: string
                  nullable: true
                ContentDisposition:
                  type: string
                  nullable: true
                Headers:
                  type: array
                  nullable: true
                  items: {}
                Length:
                  type: integer
                  format: int64
                Name:
                  type: string
                  nullable: true
                FileName:
                  type: string
                  nullable: true
      responses:
        '200':
          description: EULA file uploaded successfully
  /api/v1/admin/users/eula/download/{eulaVersion}:
    get:
      tags:
      - Eula
      summary: Downloads an EULA file for a specific version
      operationId: Eula_DownloadEula
      parameters:
      - name: eulaVersion
        in: path
        required: true
        description: The EULA version to download
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: EULA file downloaded successfully
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
  /api/v1/admin/users/eula/get-current-version:
    get:
      tags:
      - Eula
      summary: Gets the current EULA version
      operationId: Eula_GetCurrentVersion
      responses:
        '200':
          description: Current EULA version returned
          content:
            application/json:
              schema: {}
  /api/v1/admin/users/eula/set-current-version/{eulaVersion}:
    post:
      tags:
      - Eula
      summary: Sets the current EULA version
      operationId: Eula_SetCurrentVersion
      parameters:
      - name: eulaVersion
        in: path
        required: true
        description: The EULA version to set as active
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: EULA version set as active successfully
          content:
            application/json:
              schema: {}
  /api/v1/admin/users/eula/remove-version/{eulaVersion}:
    delete:
      tags:
      - Eula
      summary: Removes a EULA version. Cannot remove the active EULA - it must be deactivated first.
      operationId: Eula_RemoveVersion
      parameters:
      - name: eulaVersion
        in: path
        required: true
        description: The EULA version to remove
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: EULA version removed successfully
          content:
            application/json:
              schema: {}
  /api/v2/admin/users/eula/upload:
    post:
      tags:
      - Eula
      summary: Uploads a new EULA file for a specific version
      operationId: Eula_UploadEula2
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                eulaVersion:
                  type: string
                  nullable: true
                ContentType:
                  type: string
                  nullable: true
                ContentDisposition:
                  type: string
                  nullable: true
                Headers:
                  type: array
                  nullable: true
                  items: {}
                Length:
                  type: integer
                  format: int64
                Name:
                  type: string
                  nullable: true
                FileName:
                  type: string
                  nullable: true
      responses:
        '200':
          description: EULA file uploaded successfully
  /api/v2/admin/users/eula/download/{eulaVersion}:
    get:
      tags:
      - Eula
      summary: Downloads an EULA file for a specific version
      operationId: Eula_DownloadEula2
      parameters:
      - name: eulaVersion
        in: path
        required: true
        description: The EULA version to download
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: EULA file downloaded successfully
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
  /api/v2/admin/users/eula/get-current-version:
    get:
      tags:
      - Eula
      summary: Gets the current EULA version
      operationId: Eula_GetCurrentVersion2
      responses:
        '200':
          description: Current EULA version returned
          content:
            application/json:
              schema: {}
  /api/v2/admin/users/eula/set-current-version/{eulaVersion}:
    post:
      tags:
      - Eula
      summary: Sets the current EULA version
      operationId: Eula_SetCurrentVersion2
      parameters:
      - name: eulaVersion
        in: path
        required: true
        description: The EULA version to set as active
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: EULA version set as active successfully
          content:
            application/json:
              schema: {}
  /api/v2/admin/users/eula/remove-version/{eulaVersion}:
    delete:
      tags:
      - Eula
      summary: Removes a EULA version. Cannot remove the active EULA - it must be deactivated first.
      operationId: Eula_RemoveVersion2
      parameters:
      - name: eulaVersion
        in: path
        required: true
        description: The EULA version to remove
        schema:
          type: string
        x-position: 1
      responses:
        '200':
          description: EULA version removed successfully
          content:
            application/json:
              schema: {}
  /api/v1/admin/files/{projectId}/{fileId}:
    get:
      tags:
      - Files
      summary: Retrieves the file from the project with projectId and fileId
      operationId: Files_GetLatestFile
      parameters:
      - name: projectId
        in: path
        required: true
        description: The projectId to search on
        schema:
          type: string
          format: guid
        x-position: 1
      - name: fileId
        in: path
        required: true
        description: The fileId to search on
        schema:
          type: string
          format: guid
        x-position: 2
      responses:
        '200':
          description: Successfully returned the sampleset
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectFileRecord'
  /api/v1/admin/files/project/{projectId}:
    get:
      tags:
      - Files
      summary: Retrieves all of the files for a specific project
      operationId: Files_GetLatestProjectFiles
      parameters:
      - name: projectId
        in: path
        required: true
        description: The projectId to search on
        schema:
          type: string
          format: guid
        x-position: 1
      responses:
        '200':
          description: Successfully returned the project's files
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProjectFileRecord'
  /api/v1/admin/files/publish/project:
    put:
      tags:
      - Files
      summary: Publish all the files in a project that have been saved previously
      operationId: Files_PublishProjectFiles
      requestBody:
        x-name: publishParameters
        description: The parameters containing the project id to publish
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublishParametersGuid'
        required: true
        x-position: 1
      responses:
        '200':
          description: Successfully published the file
  /api/v1/admin/files/publish/single:
    put:
      tags:
      - Files
      summary: Publish a single file
      operationId: Files_PublishFile
      requestBody:
        x-name: publishParameters
        description: The parameters containing the file to publish
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublishParametersProjectFile'
        required: true
        x-position: 1
      responses:
        '200':
          description: Successfully published the file
  /api/v1/admin/files/publish/collection:
    put:
      tags:
      - Files
      summary: Publish an enumeration of files
      operationId: Files_PublishFiles
      requestBody:
        x-name: publishParameters
        description: The parameters containing the file to publish
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublishParametersProjectFiles'
        required: true
        x-position: 1
      responses:
        '200':
          description: Successfully published the file
  /api/v1/admin/files/upload/single/{projectId}:
    post:
      tags:
      - Files
      summary: Uploads a single file to a project
      operationId: Files_UploadFile
      parameters:
      - name: projectId
        in: path
        required: true
        description: The parameters containing the project id to publish
        schema:
          type: string
          format: guid
        x-position: 1
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                Instance:
                  type: string
                  format: binary
                  nullable: true
                Comment:
                  type: string
                  nullable: true
      responses:
        '200':
          description: Successfully published the file
  /api/v1/admin/files/download/{projectId}/{fileId}:
    get:
      tags:
      - Files
      summary: Retrieves the file with this project id and file id
      operationId: Files_DownloadFile22
      parameters:
      - name: projectId
        in: path
        required: true
        description: The projectId to search on
        schema:
          type: string
          format: guid
        x-position: 1
      - name: fileId
        in: path
        required: true
        description: The fileId to search on
        schema:
          type: string
          format: guid
        x-position: 2
      responses:
        '200':
          description: Success
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
  /api/v1/admin/files/update/single:
    put:
      tags:
      - Files
      summary: Update file properties
      operationId: Files_UpdateSingleFile
      requestBody:
        x-name: publishParameters
        description: The parameters containing the file with updated properties
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublishParametersProjectFile'
        required: true
        x-position: 1
      responses:
        '200':
          description: Successfully updated the file
  /api/v1/admin/files/remove/single:
    put:
      tags:
      - Files
      summary: Remove a file
      operationId: Files_RemoveFile
      requestBody:
        x-name: publishParameters
        description: The parameters containing the file to remove
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublishParametersProjectFile'
        required: true
        x-position: 1
      responses:
        '200':
          description: Successfully removed the file
  /api/v1/admin/files/project/{projectId}/search/{searchText}:
    get:
      tags:
      - Files
      summary: Retrieves all of the files for a specific project when using text to search on
      operationId: Files_SearchFilesByProjectId22
      parameters:
      - name: projectId
        in: path
        required: true
        description: The projectId to search on
        schema:
          type: string
          format: guid
        x-position: 1
      - name: searchText
        in: path
        required: true
        description: The text to search on
        schema:
          type: string
        x-position: 2
      responses:
        '200':
          description: A [possibly empty] enumeration of File items was returned
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProjectFile'
  /api/v1/admin/files/download/{projectId}/fileIds:
    post:
      tags:
      - Files
      summary: Retrieves a zip file containing the files with this project id and file ids
      operationId: Files_DownloadFileBundle22
      parameters:
      - name: projectId
        in: path
        required: true
        description: The projectId to search on
        schema:
          type: string
          format: guid
        x-position: 1
      responses:
        '200':
          description: A zip file containing all the files
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
  /api/v1/admin/files/download/{projectId}:
    post:
      tags:
      - Files
      summary: Retrieves a zip file containing all the files with this project id
      operationId: Files_DownloadProjectFileBundle2POST
      parameters:
      - name: projectId
        in: path
        required: true
        description: The projectId to search on
        schema:
          type: string
          format: guid
        x-position: 1
      responses:
        '200':
          description: A zip file containing all the files
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
    get:
      tags:
      - Files
      summary: Retrieves a zip file containing all the files with this project id
      operationId: Files_DownloadProjectFileBundle2GET
      parameters:
      - name: projectId
        in: path
        required: true
        description: The projectId to search on
        schema:
          type: string
          format: guid
        x-position: 1
      responses:
        '200':
          description: A zip file containing all the files
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
  /api/v2/admin/files/{projectId}/{fileId}:
    get:
      tags:
      - Files
      summary: Retrieves the file from the project with projectId and fileId
      operationId: Files_GetLatestFile2
      parameters:
      - name: projectId
        in: path
        required: true
        description: The projectId to search on
        schema:
          type: string
          format: guid
        x-position: 1
      - name: fileId
        in: path
        required: true
        description: The fileId to search on
        schema:
          type: string
          format: guid
        x-position: 2
      responses:
        '200':
          description: Successfully returned the sampleset
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectFileRecord'
  /api/v2/admin/files/project/{projectId}:
    get:
      tags:
      - Files
      summary: Retrieves all of the files for a specific project
      operationId: Files_GetLatestProjectFiles2
      parameters:
      - name: projectId
        in: path
        required: true
        description: The projectId to search on
        schema:
          type: string
          format: guid
        x-position: 1
      responses:
        '200':
          description: Successfully returned the project's files
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProjectFileRecord'
  /api/v2/admin/files/publish/project:
    put:
      tags:
      - Files
      summary: Publish all the files in a project that have been saved previously
      operationId: Files_PublishProjectFiles2
      requestBody:
        x-name: publishParameters
        description: The parameters containing the project id to publish
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublishParametersGuid'
        required: true
        x-position: 1
      responses:
        '200':
          description: Successfully published the file
  /api/v2/admin/files/publish/single:
    put:
      tags:
      - Files
      summary: Publish a single file
      operationId: Files_PublishFile2
      requestBody:
        x-name: publishParameters
        description: The parameters containing the file to publish
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublishParametersProjectFile'
        required: true
        x-position: 1
      responses:
        '200':
          description: Successfully published the file
  /api/v2/admin/files/publish/collection:
    put:
      tags:
      - Files
      summary: Publish an enumeration of files
      operationId: Files_PublishFiles2
      requestBody:
        x-name: publishParameters
        description: The parameters containing the file to publish
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublishParametersProjectFiles'
        required: true
        x-position: 1
      responses:
        '200':
          description: Successfully published the file
  /api/v2/admin/files/upload/single/{projectId}:
    post:
      tags:
      - Files
      summary: Uploads a single file to a project
      operationId: Files_UploadFile2
      parameters:
      - name: projectId
        in: path
        required: true
        description: The parameters containing the project id to publish
        schema:
          type: string
          format: guid
        x-position: 1
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                Instance:
                  type: string
                  format: binary
                  nullable: true
                Comment:
                  type: string
                  nullable: true
      responses:
        '200':
          description: Successfully published the file
  /api/v2/admin/files/download/{projectId}/{fileId}:
    get:
      tags:
      - Files
      summary: Retrieves the file with this project id and file id
      operationId: Files_DownloadFile23
      parameters:
      - name: projectId
        in: path
        required: true
        description: The projectId to search on
        schema:
          type: string
          format: guid
        x-position: 1
      - name: fileId
        in: path
        required: true
        description: The fileId to search on
        schema:
          type: string
          format: guid
        x-position: 2
      responses:
        '200':
          description: Success
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
  /api/v2/admin/files/update/single:
    put:
      tags:
      - Files
      summary: Update file properties
      operationId: Files_UpdateSingleFile2
      requestBody:
        x-name: publishParameters
        description: The parameters containing the file with updated properties
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublishParametersProjectFile'
        required: true
        x-position: 1
      responses:
        '200':
          description: Successfully updated the file
  /api/v2/admin/files/remove/single:
    put:
      tags:
      - Files
      summary: Remove a file
      operationId: Files_RemoveFile2
      requestBody:
        x-name: publishParameters
        description: The parameters containing the file to remove
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublishParametersProjectFile'
        required: true
        x-position: 1
      responses:
        '200':
          description: Successfully removed the file
  /api/v2/admin/files/project/{projectId}/search/{searchText}:
    get:
      tags:
      - Files
      summary: Retrieves all of the files for a specific project when using text to search on
      operationId: Files_SearchFilesByProjectId23
      parameters:
      - name: projectId
        in: path
        required: true
        description: The projectId to search on
        schema:
          type: string
          format: guid
        x-position: 1
      - name: searchText
        in: path
        required: true
        description: The text to search on
        schema:
          type: string
        x-position: 2
      responses:
        '200':
          description: A [possibly empty] enumeration of File items was returned
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProjectFile'
  /api/v2/admin/files/download/{projectId}/fileIds:
    post:
      tags:
      - Files
      summary: Retrieves a zip file containing the files with this project id and file ids
      operationId: Files_DownloadFileBundle23
      parameters:
      - name: projectId
        in: path
        required: true
        description: The projectId to search on
        schema:
          type: string
          format: guid
        x-position: 1
      responses:
        '200':
          description: A zip file containing all the files
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
  /api/v2/admin/files/download/{projectId}:
    post:
      tags:
      - Files
      summary: Retrieves a zip file containing all the files with this project id
      operationId: Files_DownloadProjectFileBundle2POST2
      parameters:
      - name: projectId
        in: path
        required: true
        description: The projectId to search on
        schema:
          type: string
          format: guid
        x-position: 1
      responses:
        '200':
          description: A zip file containing all the files
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
    get:
      tags:
      - Files
      summary: Retrieves a zip file containing all the files with this project id
      operationId: Files_DownloadProjectFileBundle2GET2
      parameters:
      - name: projectId
        in: path
        required: true
        description: The projectId to search on
        schema:
          type: string
          format: guid
        x-position: 1
      responses:
        '200':
          description: A zip file containing all the files
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
  /api/v1/admin/lab-vantage/files/summary:
    get:
      tags:
      - LabVantageFiles
      summary: Returns LV vs Portal comparison keyed by Portal project (ProjectCode resolves lims).
      operationId: LabVantageFiles_GetLabVantageFileSummary
      parameters:
      - name: projectId
        in: query
        schema:
          type: string
          format: guid
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabVantageFileSummaryResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '502':
          description: ''
  /api/v1/admin/lab-vantage/files/import:
    post:
      tags:
      - LabVantageFiles
      summary: Imports Lab Vantage attachments from LVIS into staged portal files and updates lineage tables.
      operationId: LabVantageFiles_ImportLabVantageFiles
      requestBody:
        x-name: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LabVantageImportRequest'
        required: true
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabVantageImportResponse'
        '422':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabVantageImportResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '502':
          description: ''
  /api/v1/admin/lab-vantage/files/notice/acknowledge:
    post:
      tags:
      - LabVantageFiles
      summary: Marks notification notices acknowledged at the current UTC timestamp.
      operationId: LabVantageFiles_AcknowledgeLabVantageNotices
      requestBody:
        x-name: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LabVantageNoticeAcknowledgeRequest'
        required: true
        x-position: 1
      responses:
        '204':
          description: ''
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /api/v2/admin/lab-vantage/files/summary:
    get:
      tags:
      - LabVantageFiles
      summary: Returns LV vs Portal comparison keyed by Portal project (ProjectCode resolves lims).
      operationId: LabVantageFiles_GetLabVantageFileSummary2
      parameters:
      - name: projectId
        in: query
        schema:
          type: string
          format: guid
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabVantageFileSummaryResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '502':
          description: ''
  /api/v2/admin/lab-vantage/files/import:
    post:
      tags:
      - LabVantageFiles
      summary: Imports Lab Vantage attachments from LVIS into staged portal files and updates lineage tables.
      operationId: LabVantageFiles_ImportLabVantageFiles2
      requestBody:
        x-name: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LabVantageImportRequest'
        required: true
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabVantageImportResponse'
        '422':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabVantageImportResponse'
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '502':
          description: ''
  /api/v2/admin/lab-vantage/files/notice/acknowledge:
    post:
      tags:
      - LabVantageFiles
      summary: Marks notification notices acknowledged at the current UTC timestamp.
      operationId: LabVantageFiles_AcknowledgeLabVantageNotices2
      requestBody:
        x-name: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LabVantageNoticeAcknowledgeRequest'
        required: true
        x-position: 1
      responses:
        '204':
          description: ''
        '400':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /api/v1/admin/pipeline-status/records:
    get:
      tags:
      - PipelineStatus
      summary: Filterable, pageable list of pipeline status records (explorer / debugging).
      operationId: PipelineStatus_GetRecords
      parameters:
      - name: scope
        in: query
        schema:
          type: string
          nullable: true
        x-position: 1
      - name: subjectId
        in: query
        schema:
          type: string
          nullable: true
        x-position: 2
      - name: parentWorkflow
        in: query
        schema:
          type: string
          nullable: true
        x-position: 3
      - name: parentSubjectId
        in: query
        schema:
          type: string
          nullable: true
        x-position: 4
      - name: workflow
        in: query
        schema:
          type: string
          nullable: true
        x-position: 5
      - name: pipeline
        in: query
        schema:
          type: string
          nullable: true
        x-position: 6
      - name: stage
        in: query
        schema:
          type: string
          nullable: true
        x-position: 7
      - name: status
        in: query
        schema:
          type: string
          nullable: true
        x-position: 8
      - name: source
        in: query
        schema:
          type: string
          nullable: true
        x-position: 9
      - name: correlationId
        in: query
        schema:
          type: string
          nullable: true
        x-position: 10
      - name: occurredAfter
        in: query
        schema:
          type: string
          format: date-time
          nullable: true
        x-position: 11
      - name: occurredBefore
        in: query
        schema:
          type: string
          format: date-time
          nullable: true
        x-position: 12
      - name: skip
        in: query
        schema:
          type: integer
          format: int32
          default: 0
        x-position: 13
      - name: page_size
        x-originalName: pageSize
        in: query
        schema:
          type: integer
          format: int32
          nullable: true
        x-position: 14
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineStatusFactRecordsPageDto'
  /api/v1/admin/pipeline-status/activity:
    get:
      tags:
      - PipelineStatus
      summary: Recent pipeline status rows for lightweight feeds (e.g. admin top bar).
      operationId: PipelineStatus_GetActivity
      parameters:
      - name: status
        in: query
        schema:
          type: string
          nullable: true
        x-position: 1
      - name: workflow
        in: query
        schema:
          type: string
          nullable: true
        x-position: 2
      - name: minutes
        in: query
        schema:
          type: integer
          format: int32
          nullable: true
        x-position: 3
      - name: take
        in: query
        schema:
          type: integer
          format: int32
          nullable: true
        x-position: 4
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PipelineStatusFactDto'
  /api/v1/admin/pipeline-status/projects/{projectId}:
    get:
      tags:
      - PipelineStatus
      summary: Latest pipeline stage status per (pipeline, stage) for the project (from PipelineStatusRecords).
      operationId: PipelineStatus_GetProjectPipelineStatus
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PipelineStatusSummaryDto'
  /api/v1/admin/pipeline-status/projects/{projectId}/facts:
    get:
      tags:
      - PipelineStatus
      summary: Append-only pipeline status facts and iteration manifests for the project.
      operationId: PipelineStatus_GetProjectPipelineStatusFacts
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineStatusProjectSnapshotDto'
  /api/v2/admin/pipeline-status/records:
    get:
      tags:
      - PipelineStatus
      summary: Filterable, pageable list of pipeline status records (explorer / debugging).
      operationId: PipelineStatus_GetRecords2
      parameters:
      - name: scope
        in: query
        schema:
          type: string
          nullable: true
        x-position: 1
      - name: subjectId
        in: query
        schema:
          type: string
          nullable: true
        x-position: 2
      - name: parentWorkflow
        in: query
        schema:
          type: string
          nullable: true
        x-position: 3
      - name: parentSubjectId
        in: query
        schema:
          type: string
          nullable: true
        x-position: 4
      - name: workflow
        in: query
        schema:
          type: string
          nullable: true
        x-position: 5
      - name: pipeline
        in: query
        schema:
          type: string
          nullable: true
        x-position: 6
      - name: stage
        in: query
        schema:
          type: string
          nullable: true
        x-position: 7
      - name: status
        in: query
        schema:
          type: string
          nullable: true
        x-position: 8
      - name: source
        in: query
        schema:
          type: string
          nullable: true
        x-position: 9
      - name: correlationId
        in: query
        schema:
          type: string
          nullable: true
        x-position: 10
      - name: occurredAfter
        in: query
        schema:
          type: string
          format: date-time
          nullable: true
        x-position: 11
      - name: occurredBefore
        in: query
        schema:
          type: string
          format: date-time
          nullable: true
        x-position: 12
      - name: skip
        in: query
        schema:
          type: integer
          format: int32
          default: 0
        x-position: 13
      - name: page_size
        x-originalName: pageSize
        in: query
        schema:
          type: integer
          format: int32
          nullable: true
        x-position: 14
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineStatusFactRecordsPageDto'
  /api/v2/admin/pipeline-status/activity:
    get:
      tags:
      - PipelineStatus
      summary: Recent pipeline status rows for lightweight feeds (e.g. admin top bar).
      operationId: PipelineStatus_GetActivity2
      parameters:
      - name: status
        in: query
        schema:
          type: string
          nullable: true
        x-position: 1
      - name: workflow
        in: query
        schema:
          type: string
          nullable: true
        x-position: 2
      - name: minutes
        in: query
        schema:
          type: integer
          format: int32
          nullable: true
        x-position: 3
      - name: take
        in: query
        schema:
          type: integer
          format: int32
          nullable: true
        x-position: 4
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PipelineStatusFactDto'
  /api/v2/admin/pipeline-status/projects/{projectId}:
    get:
      tags:
      - PipelineStatus
      summary: Latest pipeline stage status per (pipeline, stage) for the project (from PipelineStatusRecords).
      operationId: PipelineStatus_GetProjectPipelineStatus2
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PipelineStatusSummaryDto'
  /api/v2/admin/pipeline-status/projects/{projectId}/facts:
    get:
      tags:
      - PipelineStatus
      summary: Append-only pipeline status facts and iteration manifests for the project.
      operationId: PipelineStatus_GetProjectPipelineStatusFacts2
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineStatusProjectSnapshotDto'
  /api/v1/admin/projects:
    get:
      tags:
      - Projects
      summary: Retrieves all of the projects for the active user
      operationId: Projects_Retrieve_AllDetails22
      responses:
        '200':
          description: A [possibly empty] enumeration of projects was returned
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProjectDescription'
  /api/v1/admin/projects/merge:
    post:
      tags:
      - Projects
      summary: 'Creates a merged deliverable project shell (Pipeline.Merged) for statistical merge jobs.

        Caller must supply projectCode. Optional body fields: productType, synopsis,

        conclusion, and principal investigator name/email/phone. Publishes

        PortalProjectEvent without sending ProjectAvailable.'
      operationId: Projects_MergeProjects
      requestBody:
        x-name: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MergeProjectsRequest'
        required: true
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MergeProjectsResponse'
  /api/v1/admin/projects/delete/{projectId}:
    post:
      tags:
      - Projects
      summary: 'Deletes a project and all portal-scoped data for it, then notifies downstream services via PortalProjectEvent.

        Use query parameter force=true for maintenance: always run delete (may no-op), always publish the delete event, and return 200 even when no project row exists.'
      operationId: Projects_DeleteProject
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: force
        in: query
        schema:
          type: boolean
          default: false
        x-position: 2
      responses:
        '200':
          description: ''
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /api/v2/admin/projects:
    get:
      tags:
      - Projects
      summary: Retrieves all of the projects for the active user
      operationId: Projects_Retrieve_AllDetails23
      responses:
        '200':
          description: A [possibly empty] enumeration of projects was returned
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProjectDescription'
  /api/v2/admin/projects/merge:
    post:
      tags:
      - Projects
      summary: 'Creates a merged deliverable project shell (Pipeline.Merged) for statistical merge jobs.

        Caller must supply projectCode. Optional body fields: productType, synopsis,

        conclusion, and principal investigator name/email/phone. Publishes

        PortalProjectEvent without sending ProjectAvailable.'
      operationId: Projects_MergeProjects2
      requestBody:
        x-name: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MergeProjectsRequest'
        required: true
        x-position: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MergeProjectsResponse'
  /api/v2/admin/projects/delete/{projectId}:
    post:
      tags:
      - Projects
      summary: 'Deletes a project and all portal-scoped data for it, then notifies downstream services via PortalProjectEvent.

        Use query parameter force=true for maintenance: always run delete (may no-op), always publish the delete event, and return 200 even when no project row exists.'
      operationId: Projects_DeleteProject2
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: force
        in: query
        schema:
          type: boolean
          default: false
        x-position: 2
      responses:
        '200':
          description: ''
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /api/v1/admin/samplesets/delete/{projectId}/{sampleSetId}:
    post:
      tags:
      - SampleSets
      summary: 'Deletes a project and all portal-scoped data for it, then notifies downstream services via PortalProjectEvent.

        Use query parameter force=true for maintenance: always run delete (may no-op), always publish the delete event, and return 200 even when no project row exists.'
      operationId: SampleSets_DeleteProject
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: sampleSetId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 2
      - name: force
        in: query
        schema:
          type: boolean
          default: false
        x-position: 3
      responses:
        '200':
          description: ''
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /api/v2/admin/samplesets/delete/{projectId}/{sampleSetId}:
    post:
      tags:
      - SampleSets
      summary: 'Deletes a project and all portal-scoped data for it, then notifies downstream services via PortalProjectEvent.

        Use query parameter force=true for maintenance: always run delete (may no-op), always publish the delete event, and return 200 even when no project row exists.'
      operationId: SampleSets_DeleteProject2
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: sampleSetId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 2
      - name: force
        in: query
        schema:
          type: boolean
          default: false
        x-position: 3
      responses:
        '200':
          description: ''
        '404':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
[...]
